# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=jbcdev
DB_PASSWORD=jbcpass
DB_NAME=procatalog

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Elasticsearch Configuration
ES_HOST=elasticsearch
ES_PORT=9200

# Application Configuration
GIN_MODE=release
PORT=8080

# Monitoring Configuration
GF_SECURITY_ADMIN_PASSWORD=admin
